.Loading {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #2196f34f;
    position: fixed;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Loading img {
    width: 80px;
    height: 80px;
}